<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_tienda.Properties.Settings.tiendaConnectionString"
            connectionString="server=localhost;user id=root;database=tienda"
            providerName="MySql.Data.MySqlClient" />
        <add name="Proyecto_tienda.Properties.Settings.tiendaConnectionString1"
            connectionString="server=localhost;user id=root;password=j3zuzv3;database=tienda"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>